.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .user-search {
    width: 50%;
    padding: .8rem;
    border-radius: 8px;
    font-size: 1.5rem;
  }

  .control-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    box-sizing: border-box;

    .select-all {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .btn-group {
      display: flex;
      gap: .5rem;
    }
  }
}

.card {
  position: relative;
  background-color: var(--color-light);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1rem;
  margin: 1rem;
  min-width: 100px;
  max-width: 250px;
  text-align: center;
  box-sizing: border-box;

  & > input { 
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  & > img {
    width: 60%;
    height: auto;
    border-radius: 100%;
    border: solid 8px var(--gray-color-dark);
  }

  .card-title {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #333;
  }
}