.card {
  position: relative;
  background-color: lightgray;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1rem;
  margin: 1rem;
  min-width: 100px;
  max-width: 250px;
  text-align: center;
  box-sizing: border-box;

  & > input { 
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  & > img {
    width: 85%;
    height: auto;
    border-radius: 100%;
  }

  .card-title {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #333;
  }
}